annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.10.0
bcrypt==5.0.0
cachetools==5.5.2
google-auth==2.40.3
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.4.0
colorama==0.4.6
ecdsa==0.19.2
email-validator==2.2.0
fastapi==0.139.0
google-auth-oauthlib==1.2.2
greenlet==3.5.3
gunicorn==23.0.0
h11==0.16.0
httpx==0.28.1
idna==3.10
oauthlib==3.3.1
passlib==1.7.4
psycopg2-binary==2.9.12
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.51
starlette==0.47.2
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.5.0
uvicorn==0.35.0
